*{
	margin : 0px;
	padding : 0px;
}

/* polices */
@font-face {
  font-family: "Champions-Bold";
  src: url('Champions-Bold.svg#Champions-Bold') format('svg'),
       url('Champions-Bold.ttf') format('truetype'),
       url('Champions-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Champions";
  src: url('Champions.eot');
  src: url('Champions.eot?#iefix') format('embedded-opentype'),
       url('Champions.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


/* menu hamburger */
.container {
  display: inline-block;
  cursor: pointer;
  float : right;
}

.bar1, .bar2, .bar3 {
  width: 50px;
  height: 10px;
  background-color: #f0f0f0;
  margin: 6px 0;
  border: white 0px solid;
  border-radius : 100px 100px;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  width: 35px;
  height: 5px;
  border: 0px;
  border-radius : 0px 0px;
  
}
.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-11px, -8px);
  transform: rotate(45deg) translate(-11px, -10px);
  width: 35px;
  height: 5px;
  border: 0px;
  border-radius : 0px 0px;
}



/* partie positionnement et déco */
#menu a,img,#user,#search { 
	display:block; 
	color: #fff; 
	text-decoration:none;
	background: transparent;
	font-size: 30px;
	font-family: Champions,"Champions-Bold", Calibri, sans-serif;
}
nav #user{
	text-align: center;
	font-size: 2em;
}

#menu > li,
#menu > li li {
	float: right;
	position: relative;
	display:inline-block;
	width: 300px;
	padding: 6px 15px;
	background-color: transparent;/*color hover bar*/
	background-image: none;
	
}
#menu > li li { background: transparent none; }
#menu > li li:hover, #user:hover { background:#4a65e1; } /*color hover list*/
#menu > li:first-child {
	border-radius: 8px 0 0 8px;
}
#menu > li:hover {
	background-color: transparent;
	background-image: none;
	
}
/* (presque) fin de la partie positionnement/déco */
/* dans cette déclaration, on fixe le max-height */
#menu ul {
	position: absolute;
	top: 4em; right: 0;
	max-height:0em;	
	margin-right: 1%;
	padding: 0;
	background-color: #192f96;
	background-image: none;
	overflow: hidden;
	transition: 1s max-height 0.3s;
	border-radius: 0 0 8px 8px;
}
/* ici on change la valeur de max-height au :hover */
#menu > li:hover ul {
	/* à adapter, le minimum est le meilleur mais voyez large 😉 */
	max-height: 800px;
	max-width: 500px;
}

