<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="UTF-8">
	<title>Champions Challenges</title>
	<link href="css/theme.css" rel="stylesheet">
	<link href="css/menu.css" rel="stylesheet">
	<link href="css/createTeam.css" rel="stylesheet">
	<script type="text/javascript" src="js/anim.js"></script>
</head>
<body>
	<header>
	<img id="logo" src="img/logoBlanc.png" name="logo"/>
	<h1> Compose ton Équipe</h1>
	<div class="container" onclick="cross(this); toggleDisplay();">
	  	<div class="bar1"></div>
	 	<div class="bar2"></div>
		<div class="bar3"></div>
	</div>  
	</header>
	
<nav>
	<ul id="menu">
	<li>
	<div class="container" onclick="cross(this); toggleDisplay();">
	  	<div class="bar1"></div>
	 	<div class="bar2"></div>
		<div class="bar3"></div>
	</div>  
	<ul class="flex">
			<li><span id="user">${pseudo}</span></li>
	    	<li><input type="search" placeholder="Rechercher..."></li>
	      	<li><img id="user" src="img/user.png" name="user"/><a href="compte.html">Mon Compte</a></li>
	    	<li><img id="createTeam" src="img/compo.png" name="createTeam"/><a href="createTeam.html">Créer mon Équipe</a></li>
	    	<li><img id="ligue" src="img/ligueIcon.png" name="ligue"/><a href="ligue.html">Ligue</a></li>
	   		<li><img id="createTeam" src="img/login.png" name="createTeam"/><a href="login.html">Connexion</a></li>
	   		<li><img id="myTeam" src="img/ball.png" name="myTeam"/><a href="myTeam.html">Mon Equipe</a></li>
	 		
	 </ul>
	 </li>
	</ul>
</nav>  
	 
	<article>
   
    
    
    
    
    
	</article>
	
	
	
	<footer >
	<a href="rules.html"> Réglements  </a>
	</footer>
</body>

<script type="text/javascript">

	function cross(x) {
		x.classList.toggle("change");
	}


var animateButton = function(e) {

	e.preventDefault;
	//reset animation
	e.target.classList.remove('animate');
		  
	e.target.classList.add('animate');
	setTimeout(function(){
	e.target.classList.remove('animate');
	 },700);
	};

	var bubblyButtons = document.getElementsByClassName("bubbly-button");

	for (var i = 0; i < bubblyButtons.length; i++) {
	 bubblyButtons[i].addEventListener('click', animateButton, false);
	}
</script>
</html>