<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Champions Challenges</title>
<link href="/css/theme.css" rel="stylesheet">
<link href="/css/menu.css" rel="stylesheet">
<link href="/css/home.css" rel="stylesheet">
<link href="/css/button1.css" rel="stylesheet">
<script type="text/javascript" src="/js/anim.js"></script>
</head>
<body>
	<header>
		<a href="/home/"><img id="logo" src="/img/logoBlanc.png"
			name="logo" /></a>
		<h1>Accueil</h1>
		<nav>
			<ul id="menu">
				<li>
					<div class="container" onclick="cross(this)">
						<div class="bar1"></div>
						<div class="bar2"></div>
						<div class="bar3"></div>
					</div>
					<ul class="flex">

						<li><span id="user"></span></li>
						<li><input type="search" placeholder="Rechercher..."></li>
						<li><img id="user" src="/img/user.png" name="user" /><a
							href="/compte/">Mon Compte</a></li>
							
							
						<li><img id="createTeam" src="/img/compo.png"
							name="createTeam" /><a href="/createteam/"> Créer
								mon Équipe</a></li>
								
								
						<li><img id="ligue" src="/img/ligueIcon.png" name="ligue" /><a
							href="/league/">Ligue</a></li>
							
						<li><img id="connexion" src="/img/login.png"
							name="connexion" /><a href="/login/">Deconnexion</a></li>
							
							
						<li><img id="myTeam" src="/img/ball.png" name="myTeam" /><a
							href="/team/">Mon Equipe</a></li>

					</ul>
				</li>
			</ul>
		</nav>

	</header>

	<article>

		<h1>Relever le défi des Champions...</h1>

		<div class="back">
			<h2>Créez ou Rejoignez une Ligue !</h2>
			<div class="textBox">
				<p>
					<span>Créez</span> une ligue de 4 participants avec vos collègues ou vos amis ou bien <span>créez-en une !</span> Le créateur pourra <span>la</span>
					nommer et lui générer son propre mot de passe afin de rendre <span>votre ligue privée.</span>
				</p>
			</div>
			<hr align="center" width="35%" color="blue" size="1px">
			<h2>Construit ton Equipe !</h2>
			<div class="textBox">
				<p>
					Une fois votre ligue constituée, place à la <span>
						composition de votre équipe </span> : pour cela, chaque participant doit acheter<span>11 joueurs</span>, en veillant à equilibrer le nombre de joueurs par poste <span>(1 gardien, 4 défenseurs, 4 milieux et 2 attaquants).</span>
						 Attention toutefois à rentrer dans votre budget ! 
						En effet, chaque équipe doit avoir <span>une valeur maximale de 500M d'euros.</span>  
						 A vous de trouver la <span>meilleure composition possible.</span>
				</p>
			</div>
			<hr align="center" width="35%" color="blue" size="1px">
			<h2>Compare ton équipe !</h2>
			<div class="textBox">
				<p>
					Vous pouvez ensuite <span>comparer</span> votre équipe avec les
					différents membres de la ligue.
					Alors, vous êtes plutôt <span>Messi ou Ronaldo</span>  ?
				</p>
			</div>
		</div>
	</article>

	<section>
		<button class="bubbly-button">Commencer l'Aventure !</button>
	</section>


	<footer>
		<a href="/rules/"> Réglements </a>
	</footer>
</body>

<script type="text/javascript">
	function cross(x) {
		x.classList.toggle("change");
	}

	var animateButton = function(e) {

		e.preventDefault;
		//reset animation
		e.target.classList.remove('animate');

		e.target.classList.add('animate');
		setTimeout(function() {
			e.target.classList.remove('animate');
		}, 700);
	};

	var bubblyButtons = document.getElementsByClassName("bubbly-button");

	for (var i = 0; i < bubblyButtons.length; i++) {
		bubblyButtons[i].addEventListener('click', animateButton, false);
	}
</script>
</html>