<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="UTF-8">
	<title>Champions Challenges</title>
	<link href="/css/theme.css" rel="stylesheet">
	<link href="/css/menu.css" rel="stylesheet">
	<link href="/css/inscription.css" rel="stylesheet">
	<script type="text/javascript" src="/js/anim.js"></script>
</head>
<body>
	<header>
	<a href="home.html"><img id="logo" src="/img/logoBlanc.png" name="logo"/></a>
	<h1> Inscription</h1>
	<div class="container" onclick="cross(this); toggleDisplay();">
	  	<div class="bar1"></div>
	 	<div class="bar2"></div>
		<div class="bar3"></div>
	</div>  
	</header>
	
<nav>
	<ul id="menu">
	<li>
	<div class="container" onclick="cross(this)">
	  	<div class="bar1"></div>
	 	<div class="bar2"></div>
		<div class="bar3"></div>
	</div>  
	<ul class="flex">
			<li><span id="user">${pseudo}</span></li>
	    	<li><input type="search" placeholder="Rechercher..." id="search"></li>
	      	<li><img id="user" src="img/user.png" name="user"/><a href="/compte.html">Mon Compte</a></li>
	    	<li><img id="createTeam" src="img/compo.png" name="createTeam"/><a href="/createTeam.html">Créer mon Équipe</a></li>
	    	<li><img id="ligue" src="img/ligueIcon.png" name="ligue"/><a href="/ligue.html">Ligue</a></li>
	   		<li><img id="createTeam" src="img/login.png" name="createTeam"/><a href="/login.html">Connexion</a></li>
	   		<li><img id="myTeam" src="img/ball.png" name="myTeam"/><a href="/myTeam.html">Mon Equipe</a></li>
	 		
	 </ul>
	 </li>
	</ul>
</nav>  
	 
	<article>
		<div class="container-contact100">

		<div class="wrap-contact100">
			<div class="contact100-form-title" style="background-image: url(/img/bg-02.png);">
				<span class="contact100-form-title-1">
					Participe au Défi des Champions
				</span>
			</div>

			<form th:action="@{/user/inscription}" th:object="${user}" class="contact100-form validate-form" method="post">
				<div class="wrap-input100 validate-input" data-validate="pseudo obligatoire">
					<span class="label-input100">Pseudo:</span>
					<input class="input100" type="text" th:field="*{pseudo}" placeholder="Entrer un pseudonyme" required="required">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "email valide obligatoire: ex@abc.xyz">
					<span class="label-input100">Email:</span>
					<input class="input100" type="email" th:field="*{email}" placeholder="Entrer votre email" required="required">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate="mot de passe obligatoire">
					<span class="label-input100">Mot de Passe:</span>
					<input class="input100" type="password" th:field="*{password}" placeholder="Entrer un mot de passe" required="required">
					<span class="focus-input100"></span>
				</div>
				<div class="wrap-input100 validate-input" data-validate="confirmation obligatoire">
					<span class="label-input100">Confirmation:</span>
					<input class="input100" type="password" placeholder="Confirmer la saisie" required="required">
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
                    <input type="submit" class="contact100-form-btn" value="S'inscrire">
                </div>
			</form>
		</div>
	</div>
	<div id="dropDownSelect1"></div>
	</article>
	
	
	<footer >
	<a href="/rules.html"> Réglements  </a>
	</footer>
</body>

<script type="text/javascript">

	function cross(x) {
		x.classList.toggle("change");
	}
</script>
</html>