<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="UTF-8">
	<title>Champions Challenges</title>
	<link href="css/theme.css" rel="stylesheet">
</head>
<body>
	<header>
	<a href="home.html" name="home"><img id="logo" src="img/logoBlanc.png" name="logo"/></a>
	<h1> Ligue </h1>
	<img id="menuIcon" src="img/menuIcon.png" name="menuIcon"/>
	</header>

	<section >
		<pre>
		
		</pre>
	</section>
	
	<footer >
	<a href="/rules"> Réglements  </a>
	</footer>
</body>
</html>