<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="/css/menu.css" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>

<nav>
	<ul id="menu">
	<li>
	<div class="container" onclick="cross(this); toggleDisplay();">
	  	<div class="bar1"></div>
	 	<div class="bar2"></div>
		<div class="bar3"></div>
	</div>  
	<ul class="flex">
			<li><h2>${pseudo}</h2></li>
	    	<li><input type="search" placeholder="Rechercher..."></li>
	      	<li><img id="user" src="/img/user.png" name="user"/><a href="/compte/">Mon Compte</a></li>
	    	<li><img id="createTeam" src="/img/compo.png" name="createTeam"/><a href="/createteam/">Créer mon Équipe</a></li>
	    	<li><img id="ligue" src="/img/ligueIcon.png" name="ligue"/><a href="/league/">Ligue</a></li>
	   		<li><img id="Deconnexion" src="/img/login.png" name="Deconnexion"/><a href="/login/">Deconnexion</a></li>
	   		<li><img id="myTeam" src="/img/ball.png" name="myTeam"/><a href="/team/">Mon Equipe</a></li>
	 </ul>
	 </li>
	</ul>
</nav>
</body>
</html>